page-login {

     .login-content {

       .logo-row {
         background-color: white;
         padding: 0px;
         height: 80px;
       }

       .logo{
         height: 66px;
       }

       .loginheaders{
         color: white;
         padding-left: 20px;
         display: block;
         margin-left: auto;
         margin-right: auto;
       }

       .headerrow{
         background-color: #007bc7;
         height: 80px;
       }

       .login-box {
         background: #007bc7;
         margin-top: 30px;
        width: 35%;
        display: block;
        margin-left: auto;
        margin-right: auto;
       }



       ion-row {
          align-items: center;
          text-align: center;
        }

        ion-item {
            border-radius: 30px !important;
            padding-left: 30px !important;
            font-size: 0.9em;
            margin-bottom: 10px;
            border: 1px solid #ffffff;
            border-bottom: 0px !important;
            box-shadow: none !important;
        }

        .signup-col {
          color: #ffffff;
          margin: 0px 16px 0px 16px;
          padding-bottom: 20px;
        }

        .item-inner {
          border-bottom-color: #ffffff !important;
          box-shadow: none !important;
        }

        .submit-btn {
          background: #007bc7;
          border-radius: 30px !important;
          border: 1px solid #ffffff;
          color: white;
        }

     }

   }
