page-gridlayout {

  .cola{
    background: #F8C7C7;
    border: think solid black;
    }

  .colb{
    background: #CEF7E0;
    border: think solid black;
    }

  .colc{
    background: #B6B2FA;
    border: think solid black;
    }
    .scroll-col{
      height: 200px;
}
}
