page-home {

  @media (max-width: 767px) {
    #img1 {
        display: none;
        width: 100% !important;
    }
}
@media (min-width: 768px) {
    #img2 {
        display: none;
        width: 100%;
    }


  }
.item{
  color:#ffffff !important;
}
.title{
  color:#ffffff !important;
}
  .nav{
    padding: 0px;
}
.search{
  width: 100% !important;

}
.searchDiv{
    width: 30% !important;
}

}